.footer {
	background-color: var(--main-dark-grey);
	max-width: 100vw;
}

.content {
	color: #ffffff;
	display: grid;
	grid-template-columns: var(--grid-temp-col);
	gap: var(--grid-gap);
	width: var(--max-width);
	margin: auto;
	padding: 58px 0;
}

.content > img {
	grid-column: 1/3;
}

.content > div {
	height: 100%;
}

.informations {
	grid-column: 3/6;
}

.contact {
	grid-column: 6/10;
}

.content ul {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-around;
}

.content li,
.title {
	display: flex;
	margin-bottom: 15px;
}

.contact img {
	margin-right: 10px;
	max-width: 16px;
}

.social {
	grid-column: 10/13;
}

.social ul {
	flex-direction: row;
	justify-content: start;
	height: auto;
}

.content li {
	margin: 0;
	margin-right: 40px;
}

.content a {
	color: #fff;
}
