.section {
	grid-template-columns: 390px 1fr;
	grid-template-rows: auto auto 369px;
	gap: 22px 30px;
	margin-top: calc(var(--margin-section) * 0.5);
	opacity: 0;
	transition: all var(--animation-duration) ease-in-out;
	transform: translateX(-150px);
}

.title {
	grid-column: 1/3;
}

.image_container,
.contact_form {
	display: grid;
	grid-template-rows: 4fr 1fr;
}

.image_container {
	position: relative;
	grid-row: 2/4;
	grid-column: 2/3;
}

.image {
	position: relative;
	grid-row: 1/2;
}

.contact_form {
	grid-row: 2/4;
	flex-direction: column;
	box-sizing: border-box;
	height: 100%;
}

.form_inputs {
	display: flex;
	flex-direction: column;
}

.form_inputs input,
.form_inputs textarea {
	padding: 14px 21px;
	background-color: #f3f3f3;
	border: none;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-size: 14px;
}

.form_inputs textarea {
	margin: 0;
	resize: none;
	flex: 1;
}

.form_condition {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	color: var(--main-dark-grey);
}

.form_condition label {
	margin-left: 20px;
	display: block;
	justify-self: end;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}

.button {
	grid-column: 1/2;
	display: flex;
}

.goto {
	position: relative;
	margin: 0;
	color: #fff;
	background-color: var(--main-dark-grey);
}

@media (max-width: 1200px) {
	.section {
		grid-template-columns: 5fr 2fr;
		grid-template-rows: auto 369px;
	}
}

@media (max-width: 700px) {
	.section {
		display: flex;
		flex-direction: column;
		transform: translateX(0);
		opacity: 1;
		transition: none;
	}

	.image_container {
		display: none;
	}
}
