.gallery {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: var(--max-width);
	height: 100%;
	margin: auto;
}

.title {
	margin-top: 60px;
}

.main_galery {
	position: relative;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.controllers {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
