@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-dark-grey: #333333;
  --main-grey: #bdbdbd;
  --main-light-grey: #f2f2f2;
  --nav-height: 102px;
  --max-width: 1170px;
  --grid-temp-col: repeat(12, 70px);
  --grid-gap: 30px;
  --margin-section: 120px;
  --animation-duration: 0.8s;
}

a {
  color: var(--main-dark-grey);
  text-decoration: none;
}

.section {
  display: grid;
  grid-template-columns: var(--grid-temp-col);
  gap: var(--grid-gap);
  max-width: var(--max-width);
  margin: auto;
  margin-top: var(--margin-section);
  transition: all var(--animation-duration) ease-in-out;
}

.hidden-down {
  opacity: 0;
}

.goto {
  display: flex;
  margin: auto;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 71px;
  padding: 0 40px;
  background-color: white;
  color: var(--main-dark-grey);
  transition: background-color 0.15s ease-out;
}

.goto:hover {
  cursor: pointer;
  background-color: var(--main-light-grey);
  transition: background-color 0.25s ease-in;
}

.goto img {
  margin-left: 5px;
  transition: transform 0.15s ease-out;
}

.goto:hover img {
  transform: translateX(6px);
  transition: transform 0.25s ease-in;
}

.goto span {
  font-size: 12px;
  font-weight: 400;
}

.secondary-title {
  color: var(--main-grey);
  font-size: 64px;
  font-weight: 300;
}
