.hero {
  grid-template-rows: minmax(500px, calc(100vh - (var(--nav-height) * 3)));
  margin-top: 0;
  overflow: hidden;
}

.content {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-column: 1/5;
}

.title {
  position: absolute;
  top: 50%;
  min-height: 140px;
  opacity: 0;
}

.title.hidden {
  opacity: 0;
  transform: translate(-25vw, -50%);
  transition: all var(--animation-duration) ease-in-out;
}

.title.shown {
  opacity: 1;
  transform: translate(0, -50%);
  transition: all calc(var(--animation-duration) * 1.5)
    calc(var(--animation-duration) / 2) ease-in-out;
}

.title h1 {
  font-size: clamp(52px, 6vh, 64px);
  line-height: clamp(52px, 6vh, 64px);
  text-transform: uppercase;
}

.project_name {
  font-weight: 300;
  color: var(--main-grey);
}

.project_city {
  font-weight: 700;
  color: var(--main-dark-grey);
}

.slider_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-row: 3/4;
}

.slider_controls {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 40px;
}

.slider_arrow {
  display: flex;
  align-items: center;
  width: auto;
  padding: 20px;
  border: 1px solid var(--main-light-grey);
  transition: all 0.15s ease-in-out;
}

.slider_arrow:hover {
  cursor: pointer;
  border-color: var(--main-dark-grey);
  transition: all 0.3s ease-in-out;
}

.arrow_previous {
  transform: rotate(-180deg);
  margin-right: 23px;
}

.slider_arrow > img {
  transition: transform 0.15s ease-out;
}

.slider_arrow:hover > img {
  transform: translateX(6px);
  transition: transform 0.25s ease-in;
}

.slider_counter {
  display: flex;
  align-items: center;
}

.slider_counter > h4 {
  color: #bdbdbd;
  font-size: 24px;
  font-weight: 400;
}

.current_slide {
  margin-right: 23px;
}

.total_slides {
  margin-left: 23px;
}

.slider {
  position: relative;
  grid-column: 5/13;
  transform: translateX(150px);
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--main-light-grey);
  opacity: 0;
}

.slide.hidden {
  transform: translateX(50vw);
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
}

.slide.shown {
  opacity: 1;
  transform: translateX(0);
  transition: all calc(var(--animation-duration) * 1.5)
    calc(var(--animation-duration) / 2) ease-in-out;
}

.goto {
  position: absolute;
  opacity: 0;
}

.goto.hidden {
  transform: translateX(50vw);
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
}

.goto.shown {
  opacity: 1;
  transition: all calc(var(--animation-duration) * 1.5)
    calc(var(--animation-duration) / 2) ease-in-out;
}
