.navbar {
	display: grid;
	grid-template-columns: var(--grid-temp-col);
	gap: var(--grid-gap);
	max-width: var(--max-width);
	height: var(--nav-height);
	margin: auto;
}

.logo {
	grid-column: 1/5;
	display: flex;
	align-items: center;
}

.logo img:hover {
	cursor: pointer;
}

.menu {
	grid-column: 5/13;
	display: flex;
	align-items: center;
}

.menu_list {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.menu li {
	position: relative;
	margin-right: 60px;
	font-size: 12px;
	line-height: 12px;
	cursor: pointer;
}

.menu li:last-child {
	margin: 0;
}

.menu li::before,
.menu li::after {
	content: "";
	position: absolute;
	width: 0;
	border-top: 1px solid var(--main-dark-grey);
	transition: all 0.15s ease-out;
}

.menu li::before {
	top: -4px;
}

.menu li::after {
	bottom: -4px;
	left: 0;
}

.menu li:hover::before,
.menu li:hover::after,
.menu li:active::before,
.menu li:active::after,
.menu li:focus::before,
.menu li:focus::after {
	width: 100%;
	transition: width 0.25s ease-in;
}

.active::after,
.active::before {
	content: "";
	position: absolute;
	width: 100% !important;
	border-top: 1px solid var(--main-dark-grey);
	transition: all 0.15s ease-out;
}

.menu_svg {
	display: none;
}

@media (max-width: 1200px) {
	.navbar {
		display: flex;
		justify-content: space-between;
		width: var(--max-width);
		padding: calc((100vw - var(--max-width)) / 2);
	}
}

@media (max-width: 700px) {
	.navbar {
		position: fixed;
		flex-direction: row-reverse;
		top: 0;
		min-width: 100vw;
		z-index: 9999;
		background-color: white;
		border-bottom: solid 1px var(--main-light-grey);
	}

	.menu_svg {
		display: inline;
		height: 36px;
		width: 36px;
	}

	.menu.open .menu_list {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 100;
		width: 100vw;
		height: calc(100vh - var(--nav-height));
		background-color: white;
	}

	.menu_list li {
		display: none;
	}

	.menu.open .menu_list {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: var(--nav-height);
		height: calc(100vh - var(--nav-height));
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 32px;
	}

	.menu.open .menu_list li {
		display: inline;
		font-size: 24px;
		line-height: 28px;
	}
}
