.project {
	display: flex;
	flex-direction: column;
	max-width: var(--max-width);
	margin: auto;
}

.titles {
	margin: 60px 0;
}

.project_name {
	color: var(--main-dark-grey);
	font-weight: bold;
}

.content {
	display: grid;
	grid-template-rows: 400px auto 400px;
	gap: var(--grid-gap);
}

.main_image {
	position: relative;
	grid-column: 1/2;
}

.text {
	grid-column: 2/3;
	text-align: justify;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	color: var(--main-dark-grey);
}

.main_content {
	display: grid;
	grid-template-columns: minmax(auto, 450px) 1fr;
	gap: var(--grid-gap);
}

.bottom_images {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--grid-gap);
}

@media (max-width: 1200px) {
	.main_content {
		display: flex;
		flex-direction: column-reverse;
		gap: var(--grid-gap);
	}

	.main_image {
		height: 400px;
	}
}

@media (max-width: 650px) {
	.content {
		grid-template-rows: 400px auto auto;
	}

	.bottom_images {
		display: flex;
		flex-direction: column;
	}
}
